rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /products/{id} {
      allow read, write: if true;
    }
    match /categories/{id} {
      allow read, write: if true;
    }
    match /banners/{id} {
      allow read, write: if true;
    }
    match /settings/{id} {
      allow read, write: if true;
    }
    match /orders/{id} {
      allow read, write: if true;
    }
    match /customers/{id} {
      allow read, write: if true;
    }
    match /customerCarts/{id} {
      allow read, write: if true;
    }
    match /coupons/{id} {
      allow read, write: if true;
    }
    match /couponUsages/{id} {
      allow read, write: if true;
    }
    match /aiChatAnalytics/{id} {
      allow read, write: if true;
    }
    match /notifications/{id} {
      allow read, write: if true;
    }
  }
}
